# COMP257 Project

# Final work:

In [ ]:
# working code to be put here

# Kyle:

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('data/help_tickets.csv')

df.head()

,Number,Created,Updated,Short description,State,Assignment group,Active,Closed,Description,Domain,...,Faculty / Office,Location,Task type,Updates,Business duration,Business duration (days),Company,Escalation,Time worked,Total effort
0,TASK0475834,06/10/2018 12:17,06/10/2018 12:20,Other ICT Request: Please grant access to SMUA...,Closed Complete,IT Service Desk,False,06/10/2018 12:20,NaN,global,...,Faculty of Business and Economics,"6 Management Drive, Level 1",Catalog Task,2.0,0.0,0.0,NaN,Normal,0.0,0.0
1,TASK0475833,06/10/2018 12:12,06/10/2018 12:16,Office365 Mail: FW: Optus Macquarie University...,Open,IT Service Desk,True,NaN,NaN,global,...,Deputy Vice Chancellor (Students and Registrar),NaN,Catalog Task,1.0,0.0,NaN,NaN,Normal,0.0,0.0
2,TASK0475832,06/10/2018 12:08,06/10/2018 12:08,OneID: OneID password reset request,Closed Complete,IT Service Desk,False,06/10/2018 12:08,NaN,global,...,Deputy Vice Chancellor (Students and Registrar),NaN,Catalog Task,2.0,0.0,0.0,NaN,Normal,0.0,0.0
3,TASK0475831,06/10/2018 12:05,06/10/2018 12:05,OneID: OneID password reset request,Closed Complete,IT Service Desk,False,06/10/2018 12:05,NaN,global,...,Student,NaN,Catalog Task,2.0,0.0,0.0,NaN,Normal,0.0,0.0
4,TASK0475830,06/10/2018 12:04,06/10/2018 12:04,eStudent: request to reset eStudent password,Closed Complete,IT Service Desk,False,06/10/2018 12:04,NaN,global,...,Student,NaN,Catalog Task,2.0,0.0,0.0,NaN,Normal,0.0,0.0

# Hey kasun im thinking you put your stuff below this line try not to have overlapping variables i will put mine above when we have working code copy past it to a final section
# ---------------------------------------------------------------------------------------
# Kasun: