# COMP257 Project

# Final work:

In [ ]:
# working code to be put here

# Kyle:

In [3]:
import numpy as np
import pandas as pd

## Read in the data:
<p>
Note: git hub has limits in fiel size <100mb data ~ 174mb <br>
have used data in split up form, read in and concatonated into df. <br>
    Columns = 15 <br>
    Records = 476805
    
</p>

In [10]:
# reading data into df
# https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe

import glob
path = r'data'                                         
all_files = glob.glob(path + "/*.xlsx")

df_from_each_file = (pd.read_excel(f) for f in all_files)
df = pd.concat(df_from_each_file, ignore_index=True)

# note this takes a while to do ~ 60 sec

# ------------------------------------------------------------------------------------

In [24]:
#df = pd.read_csv('data/help_tickets.csv')

#df = df.sort_values(by=['Number'], ascending=True)
#TASK0475834
#print("Shape: "+ str(df.shape))
#print(df['Number'].iloc[0])
#df.head()
print(df.shape)
#df.head(5)
df.describe()

(476805, 15)

           Duration        Updates
count  4.768050e+05  476805.000000
mean   1.031829e+05       2.948614
std    6.779026e+05       3.732720
min    0.000000e+00       0.000000
25%    0.000000e+00       1.000000
50%    0.000000e+00       2.000000
75%    4.800000e+02       3.000000
max    2.557314e+07     322.000000

# Hey kasun im thinking you put your stuff below this line try not to have overlapping variables i will put mine above when we have working code copy past it to a final section
# ---------------------------------------------------------------------------------------
# Kasun: