# COMP257 Project

# Final work:

In [ ]:
# working code to be put here

# Kyle:

In [3]:
import numpy as np
import pandas as pd

## Read in the data:
<p>
Note: git hub has limits in fiel size <100mb data ~ 174mb <br>
have used data in split up form, read in and concatonated into df. <br>
    Columns = 15 <br>
    Records = 476805
    
</p>

In [10]:
# reading data into df
# https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe

import glob
path = r'data'                                         
all_files = glob.glob(path + "/*.xlsx")

df_from_each_file = (pd.read_excel(f) for f in all_files)
df = pd.concat(df_from_each_file, ignore_index=True)

# note this takes a while to do ~ 60 sec

# ------------------------------------------------------------------------------------

# kyle

In [81]:
# peeking at the data

print("Shape: ", df.shape)
print(df.dtypes)
df.head(5)

Shape:  (476805, 15)
Number                       object
Created              datetime64[ns]
Updated              datetime64[ns]
Short description            object
State                        object
Assignment group             object
Active                         bool
Closed               datetime64[ns]
Domain                       object
Duration                      int64
Expected start       datetime64[ns]
Faculty / Office             object
Location                     object
Task type                    object
Updates                       int64
dtype: object

,Number,Created,Updated,Short description,State,Assignment group,Active,Closed,Domain,Duration,Expected start,Faculty / Office,Location,Task type,Updates
0,CALL0311421,2018-01-01 01:52:00,2018-01-02 17:28:00,HDR Online Application Password Reset Request,Closed Complete,IT Service Desk,False,2018-01-02 17:27:00,global,142500,NaT,Affiliates,NaN,Call,6
1,CALL0311422,2018-01-01 01:53:00,2018-01-02 16:49:00,HDR Online Application Password Reset Request,Closed Complete,IT Service Desk,False,2018-01-02 16:48:00,global,140100,NaT,Affiliates,NaN,Call,6
2,RITM0320827,2018-01-01 07:31:00,2018-01-01 08:26:00,Academic Management Information System (AMIS) ...,Closed Complete,NaN,False,2018-01-01 08:26:00,global,0,NaT,Information Technology,E6A L0,Requested Item,5
3,REQ0299253,2018-01-01 07:31:00,2018-01-01 08:26:00,NaN,Closed Complete,NaN,False,2018-01-01 08:26:00,global,0,NaT,Information Technology,E6A L0,Request,1
4,TASK0358205,2018-01-01 07:31:00,2018-01-01 08:26:00,AMIS: AMIS HR FILES - 2017-12-24 20:00:04,Closed Complete,AMIS,False,2018-01-01 08:26:00,global,3300,2018-01-01 07:31:00,Information Technology,E6A L0,Catalog Task,3

#### Columns that will need to be Labeled for modeling as they are strings:

- State
- Assignment group
- Domain
- Faculty / Office
- Location
- Task type

These will can be labled and discrete with a finite set of cases.

#### More difficult columns:


<B>Numbers:</B> is hybrid with task type and identifying number 
        - Will need to strip task of type part and use combined key of number and type

<B>Short description:</B> is a complicated string with lots of data that cannot just be labled.
        - Will need to do some natural language processing to analyse TBD

## Further processing of data:

Note:
- about

In [82]:
# TEMP STUFF



#df = df.sort_values(by=['Number'], ascending=True)
#TASK0475834
#print("Shape: "+ str(df.shape))
#print(df['Number'].iloc[0])
#df.head()

#df.head(5)

# requests dont have a short description (i believe details are in full description 
# (we dont have access to this as it contains personal ingormation hence we will 
# drop all request data as it would just skew the model))


print("Data with nulls:\n",df.isna().sum(),"\n")

df_tmp= df[(df['Task type'] != "Request") & (df['Task type'] != "Call")& (df['Task type'] != "Group approval")]
print("#############################################")

print('Note "Request", "Call","Group approval" all do not have a short description which is vital to our model hence these types will be dropped.')
print("#############################################\n")
print("Data with removed nulls",df_tmp.isna().sum())







## continue here making decisions on what to do with nulls 04/11/18 -kyle








#print(tmp[tmp['Task type'] == "Group approval" ].shape)
#df_tmp[df_tmp['Short description'].isna()].head(10)

#df[df['Short description'].length() > 0]



# only 600 of 1800 "call" have a short description and will not be usefull in model
#tmp= df_tmp[df_tmp['Short description'].isna()]
#print(tmp.shape)
#print(tmp[tmp['Task type'] == "Call" ].shape)
#tmp[tmp['Task type'] == "Call"].head(20)

Data with nulls:
 Number                    0
Created                   0
Updated                   0
Short description    119752
State                     0
Assignment group     236438
Active                    0
Closed                10166
Domain                    0
Duration                  0
Expected start       352715
Faculty / Office      31156
Location             288891
Task type                 0
Updates                   0
dtype: int64

#############################################
Note "Request", "Call","Group approval" all do not have a short description which is vital to our model hence these types will be dropped.
#############################################

Data with removed nulls Number                    0
Created                   0
Updated                   0
Short description         0
State                     0
Assignment group     118471
Active                    0
Closed                 7014
Domain                    0
Duration                  0
Expected start       135378
Faculty / Office      15844
Location             144094
Task type                 0
Updates                   0
dtype: int64

- Distribution of work by group (HR, IT service desk, Property)

- Distribution of tasks by category (iLearn, Hardware, iPrint, Invoices)

- Efficiency of service groups based on completion times

- Visual overlay of request type over map by location

- A predictive model to determine the difficulty of a task and an expected finish time


# ---------------------------------------------------------------------------------------
# Kasun: